@using HaberSitesiBitirmeProjesi.Entity
@using HaberSitesiBitirmeProjesi.DataAccess
@model Articles
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UILAyout.cshtml";
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<section class="single-post-area">
    <!-- Single Post Title -->
    <div class="single-post-title bg-img background-overlay" style="background-image: url(@Model.Photo);">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="single-post-title-content">
                        <!-- Post Tag -->
                        <div class="gazette-post-tag">
                            <a href="~/Home/@Model.Category.CategoryName">@Model.Category.CategoryName</a>
                        </div>
                        <h2 class="font-pt">@Model.Title</h2>
                        <p>@Model.NewsDate.Day - @Model.NewsDate.Month - @Model.NewsDate.Year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-post-contents">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="single-post-text">

                        <div class="single-post-blockquote">
                            <blockquote>
                                <h6 class="font-pt mb-0">@Model.Description</h6>
                            </blockquote>
                        </div>

                    </div>
                </div>
                <div class="col-12 ">
                    <div class="single-post-thumb">
                        <img src="@Model.Photo" alt="" width="100%">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="single-post-text">
                        <!-- haberlerin text leri html tagleri ile birlikte  string halde gelip kaydedildigi icin db den fron-side e entegre edebilmek icin ckeditor kullanarak html taglerine dönüstürdüm. daha sonra textarea nın val ını alarak bos bir div in icerisine jquery ile aktardım.-->
                        @Html.TextAreaFor(m => m.Text, new { @id = "ckeditor", @class = "ckeditor" })
                        <p class="article_text">

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="gazette-post-discussion-area section_padding_100 bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <!-- Comment Area Start -->
                <div class="comment_area section_padding_50 clearfix">
                    <div class="gazette-heading">
                        <h4 class="font-bold">Yorumlar</h4>
                    </div>

                    <ol>
                        <!-- Single Comment Area -->
                        @{
                            CommentRep cr = new CommentRep();
                            if (cr.List().ProccessResult != null)
                            {
                                foreach (var item in cr.List().ProccessResult.Where(t => t.IsCheck == true))
                                {
                                    if (Model.Id == item.ArticleId)
                                    {
                                        <li class="single_comment_area">
                                            <div class="comment-wrapper d-md-flex align-items-start">
                                                <!-- Comment Meta -->
                                                <div class="comment-author">

                                                </div>
                                                <!-- Comment Content -->
                                                <div class="comment-content">
                                                    <h5>@item.Member.Name @item.Member.Surname</h5>
                                                    <span class="comment-date font-pt">@item.Date.Day-@item.Date.Month,@item.Date.Year</span>
                                                    <p>@item.Message</p>

                                                </div>
                                            </div>

                                        </li>
                                    }

                                }
                            }


                        }
                    </ol>
                </div>
                <!-- Leave A Comment -->
                <div class="leave-comment-area clearfix">
                    <div class="comment-form">
                        <div class="gazette-heading">
                            <h4 class="font-bold">leave a comment</h4>
                        </div>
                        <!-- Comment Form -->

                        @using (Ajax.BeginForm("CommentAdd", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                        {
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                            if (User.Identity.IsAuthenticated)
                            {
                                <button type="submit" id="@Model.Id" class="btn leave-comment-btn">SUBMIT <i class="fa fa-angle-right ml-2"></i></button>
                            }
                            else
                            {
                                <a href="~/Account/LogIn" class="btn leave-comment-btn">LogIn</a>
                            }
                            <div hidden class="divSonuc"></div>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>

<script type="text/javascript">

    function OnSuccess(response) {
        if (response == 'Başarili') {
            Swal.fire({
                type: 'success',
                title: 'YORUM BAŞARI İLE EKLENDİ :)',
                text: 'Filtreden geçtikten sonra yorumunuz onaylanacaktır :)',
                animation: false,
                customClass: {
                    popup: 'animated tada'
                }
            });
        }
        else {
            Swal.fire({
                type: 'warning',
                title: 'Aynı Habere Bir Kere Yorum Ekleme Hakkınız Vardır :)',
                animation: false,
                customClass: {
                    popup: 'animated tada'
                }
            });
        }

    }

    function OnFailure(response) {
        Swal.fire({
            type: 'error',
            title: 'bi sıkıntı var :(',
            text: '' + response,
            animation: false,
            customClass: {
                popup: 'animated tada'
            }
        });
    }

    $(document).ready(function () {
        var text = $('#ckeditor').val();
        $('.article_text').append(
            text
        )
        $("#ckeditor").remove();
    });


</script>
