@using HaberSitesiBitirmeProjesi.Entity
@model Articles
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">News Details</h2>

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Article Id", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => Model.ArticleId, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Date:", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => Model.NewsDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Title", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => Model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Description:", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => Model.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Photo:", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img src="@Model.Photo" alt="Alternate Text" class="img-responsive" width="100" height="100" />
        </div>

    </div>

</div>